In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'date': pd.date_range('2023-01-01', '2023-01-10'),
    'region': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'A', 'B', 'A'],
    'sales': [10, 15, 20, np.nan, 25, 30, np.nan, 35, 40, np.nan],
    'product': ['X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y', 'X', 'Y'],
    'value': [5, 12, 8, 22, 18, np.nan, 15, 30, 25, np.nan]
}
df=pd.DataFrame(data)
df

        date region  sales product  value
0 2023-01-01      A   10.0       X    5.0
1 2023-01-02      B   15.0       Y   12.0
2 2023-01-03      A   20.0       X    8.0
3 2023-01-04      B    NaN       Y   22.0
4 2023-01-05      A   25.0       X   18.0
5 2023-01-06      B   30.0       Y    NaN
6 2023-01-07      A    NaN       X   15.0
7 2023-01-08      A   35.0       Y   30.0
8 2023-01-09      B   40.0       X   25.0
9 2023-01-10      A    NaN       Y    NaN

In [3]:
# a. Compute mean of sales grouped by region
mean_sales_by_region = df.groupby('region')['sales'].mean()
print("Mean Sales by Region:")
print(mean_sales_by_region)

Mean Sales by Region:
region
A    22.500000
B    28.333333
Name: sales, dtype: float64

In [5]:
# b. Fill intermittent time series to replace missing dates with values of previous non-missing date
df = df.set_index('date')
df = df.resample('D').ffill()
print("DataFrame after filling missing dates:")
print(df)

DataFrame after filling missing dates:
           region  sales product  value
date
2023-01-01      A   10.0       X    5.0
2023-01-02      B   15.0       Y   12.0
2023-01-03      A   20.0       X    8.0
2023-01-04      B    NaN       Y   22.0
2023-01-05      A   25.0       X   18.0
2023-01-06      B   30.0       Y    NaN
2023-01-07      A    NaN       X   15.0
2023-01-08      A   35.0       Y   30.0
2023-01-09      B   40.0       X   25.0
2023-01-10      A    NaN       Y    NaN

In [6]:
# c. Perform year-month string to dates conversion
df['year_month'] = pd.to_datetime(df.index).to_period("M")
print("DataFrame after year-month conversion:")
print(df)

DataFrame after year-month conversion:
           region  sales product  value year_month
date
2023-01-01      A   10.0       X    5.0    2023-01
2023-01-02      B   15.0       Y   12.0    2023-01
2023-01-03      A   20.0       X    8.0    2023-01
2023-01-04      B    NaN       Y   22.0    2023-01
2023-01-05      A   25.0       X   18.0    2023-01
2023-01-06      B   30.0       Y    NaN    2023-01
2023-01-07      A    NaN       X   15.0    2023-01
2023-01-08      A   35.0       Y   30.0    2023-01
2023-01-09      B   40.0       X   25.0    2023-01
2023-01-10      A    NaN       Y    NaN    2023-01

In [7]:
# d. Split dataset, group by two columns, and sort aggregated results within groups
sorted_grouped_df = df.groupby(['region', 'product']).agg({'sales':'sum'}).reset_index()
sorted_grouped_df = sorted_grouped_df.sort_values(by=['region', 'sales'],
ascending=[True, False])
print("Sorted and Grouped DataFrame:")
print(sorted_grouped_df)

Sorted and Grouped DataFrame:
  region product  sales
0      A       X   55.0
1      A       Y   35.0
3      B       Y   45.0
2      B       X   40.0

In [8]:
# e. Split dataframe into groups with bin counts
bins = [0, 10, 20, 30, 40, 50]
df['bin'] = pd.cut(df['value'], bins=bins)
grouped_by_bin = df.groupby('bin').size()
print("Bin Counts:")
print(grouped_by_bin)

Bin Counts:
bin
(0, 10]     2
(10, 20]    3
(20, 30]    3
(30, 40]    0
(40, 50]    0
dtype: int64